<div class="title-container">
    <h2>Lista de Turmas</h2>
</div>
<div class="actions-button-container">
    <div class="new-container">
        <a class="btn btn-outline-secondary" [routerLink]="['/classroom/new']">Nova Turma</a>
    </div>
</div>
<div class="body-container">
    <div class="card-list">
        <div class="card-wraper" *ngFor="let classroom of classroomList">
            <app-card-action>
                <div title>
                    {{ classroom ? classroom?.subject.name +  " - " + classroom?.room : '-' }}
                </div>
                <div content>
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Professor: </label>
                            {{ classroom?.professor?.name || '-'}}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Data de início: </label>
                            {{ classroom.startDate | date:'shortDate' }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Data de fim: </label>
                            {{ classroom.endDate | date:'shortDate' }}
                        </div>
                    </div>
                </div>
            </app-card-action>
        </div>
    </div>
    <div class="card-pagination">
    </div>
</div>