<div class="title-container">
    <h2>{{ PAGE_TITLE_LABEL }}</h2>
</div>

<div class="actions-button-container">
    <div class="new-container">
        <a class="btn btn-outline-secondary" [routerLink]="['/admin/user/new']">{{ NEW_ENTITY_BUTTON_LABEL }}</a>
    </div>
    <div class="filter-button-container">
        <app-filter-user
            [institutionInput]="institutionList"
            [userTypeInput]="userTypeList"
            (selectedInstitution)="handleIntitutionSelect($event)"
            (selectedUserType)="handleUserType($event)"
        >
        </app-filter-user>
    </div>
</div>

<div class="body-container">
    <div class="card-list">
        <div class="card-wraper" *ngFor="let user of userList">
            <app-card-action
                (visualizeEvent)="handleVisualize()"
                (editEvent)="handleEdit(user.id)"
                (deleteEvent)="handleDelete()"
            >
                <div title>
                    {{ user ? user.name : '-' }}
                </div>
                <div content>
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Tipo: </label>
                            {{ user.typeDescription }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Instituição: </label>
                            {{ user.institution ?  user.institution?.name : '-' }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Estado: </label>
                            {{ user.stateDescription }}
                        </div>
                    </div>
                </div>
            </app-card-action>
        </div>
    </div>
    <div class="card-pagination">
    </div>
</div>
