<div class="title-container">
    <h2>Lista de Instituições</h2>
</div>
<div class="actions-button-container">
    <div class="new-container">
        <a class="btn btn-outline-secondary" [routerLink]="['/admin/institution/new']">Nova Instituição</a>
    </div>
</div>
<div class="body-container">
    <div class="card-list">
        <div class="card-wraper" *ngFor="let institution of institutionList">
            <app-card-action
                (visualizeEvent)="handleVisualize()"
                (editEvent)="handleEdit(institution.id)"
                (deleteEvent)="handleDelete()"
            >
                <div title>
                    {{ institution ? institution.name : '-' }}
                </div>
                <div content>
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <label>CNPJ: </label>
                            {{ institution.employerIdentificationNumber }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Área: </label>
                            {{ institution?.field?.name || '-'  }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Estado: </label>
                            {{ institution.stateDescription }}
                        </div>
                    </div>
                </div>
            </app-card-action>
        </div>
    </div>
    <div class="card-pagination">
    </div>
</div>