<div class="title-container">
    <h2>Lista de Disciplinas</h2>
</div>
<div class="actions-button-container">
    <div class="new-container">
        <a class="btn btn-outline-secondary" [routerLink]="['/admin/subject/new']">Nova Disciplina</a>
    </div>
</div>
<div class="body-container">
    <div class="card-list">
        <div class="card-wraper" *ngFor="let subject of subjectList">
            <app-card-action
                (visualizeEvent)="handleVisualize()"
                (editEvent)="handleEdit(subject.id)"
                (deleteEvent)="handleDelete()"
            >
                <div title>
                    {{ subject ? subject.name : '-' }}
                </div>
                <div content>
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Nível:</label>
                            {{ subject.levelDescription }}
                        </div>
                        <div class="col-lg-8 d-flex flex-column">
                            <label>Área:</label>
                            {{ subject.fieldDescription || '-' }}
                        </div>
                    </div>
                </div>
            </app-card-action>
        </div>
    </div>
    <div class="card-pagination">
    </div>
</div>