<div class="title-container">
    <h2>Lista de Desafios</h2>
</div>
<div class="actions-button-container">
    <div class="new-container">
        <a class="btn btn-outline-secondary" [routerLink]="['/challenge/new']">Novo Desafio</a>
    </div>
    <div class="filter-button-container">
        <app-filter-challenge
            [institutionInput]="institutionList"
            [statusInput]="statusList"
            [fieldInput]="fieldList"
            (emitFilter)="handleFilterEmitted($event)"
        >
        </app-filter-challenge>
    </div>
</div>
<div class="body-container">
    <div class="card-list">
        <div class="card-wraper" *ngFor="let challenge of challengeList">
            <app-card-action
                [id] = "challenge.id"
                (visualizeEvent)="handleVisualize($event)"
                (editEvent)="handleEdit(challenge.id)"
                (deleteEvent)="handleDelete()"
            >
                <div title>
                    {{ challenge ? challenge.title : '-' }}
                </div>
                <div content>
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Instituição: </label>
                            {{ challenge?.institution?.name || '-' }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Área: </label>
                            {{ challenge?.field?.name || '-' }}
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <label>Status: </label>
                            {{ challenge?.statusDescription || '-' }}
                        </div>
                    </div>
                </div>
            </app-card-action>
        </div>
    </div>
    <div class="card-pagination">
    </div>
</div>