:host {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-left,
.login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 520px;
}

.login-left {
    background-color: #3e426a;
    color: #FFFFFF;
}

.img-logo-login {
    // align-self: center;
    
    width: 180px;
    height: 160px;
}

.login-content,
.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    font-size: 1.3rem;
}