<div class="card">
    <div class="card-body">
        <div class="card-content">
            <ng-content></ng-content>
        </div>
        <div class="card-action-buttons">
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-success">Visualizar</button>
            </div>
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-secondary">Editar</button>
            </div>
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-danger">Apagar</button>
            </div>
        </div>
      
    </div>
  </div>