:host {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-title {
    font-size: 1.6rem;
}

.card-content {
    margin-bottom: 15px;
    flex-grow: 1;
    font-size: 1.3rem;
}

.card-action-buttons {
    display: flex;
    justify-content: flex-end;

    .card-button-item {
        margin-left: 10px;
    }
}