<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <ng-content select="[title]"></ng-content>
        </h5>
        <div class="card-content">
            <ng-content select="[content]"></ng-content>
        </div>
        <div class="card-action-buttons">
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onVisualizeClick()">
                    <fa-icon [icon]="faEye"></fa-icon>
                </button>
            </div>
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onEditClick()">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
            </div>
            <div class="card-button-item">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onDeleteClick()">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
        </div>
    </div>
  </div>