@import "~@ng-select/ng-select/themes/ant.design.theme.css";

// body {
//     background-color: lightyellow;
// }

/*
** Customization Page List
*/

.title-container {
    margin-bottom: 30px;
    h2 {
        margin: 0px;
    }
}

.actions-button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.filter-button-container {
    display: flex;

    .filter-button-item {
        margin-left: 20px;
    }
}

.body-container {
    display: flex;
    flex-direction: column;
}

.card-wraper {
    margin-bottom: 20px;
}

/*
** Customization Page Form
*/