<div class="title-container">
    <h2>Nova Instituição</h2>
</div>

<div class="body-container">
    <form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">

        <div class="row mb-3">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" formControlName="name">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="CNPJ" aria-label="CNPJ" formControlName="employerIdentificationNumber">
            </div>
            <div class="col">
                <select class="form-select" aria-label="field" formControlName="idField" (change)="changeField($event)">
                    <option [value]="null" selected disabled >Selecione uma Área</option>
                    <option  *ngFor="let st of fieldList" [value]="st.id">{{ st.name }}</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="CEP" aria-label="CEP" formControlName="zipCode">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Rua" aria-label="Rua" formControlName="street">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Cidade" aria-label="Cidade" formControlName="city">
            </div>
            <div class="col">
                <select class="form-select" aria-label="Estado" formControlName="state" (change)="changeState($event)">
                    <option [value]="null" selected disabled >Selecione um Estado</option>
                    <option *ngFor="let tp of stateList" [value]="tp.value">{{ tp.name }}</option>
                </select>
            </div>
        </div>
        
        <button class="btn btn-outline-success" type="submit">Salvar</button>
    </form>
</div>